# version: "3"

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: leadfront
    restart: always
    env_file:
      - .env
    # ports:
      # - "3010:3000"
